:root {
    --old-blue: #1c95c2;
    --old-blueshop: #2096c3;
    --main-darkblue: #003767; /*. #093255 was on old IRI site, but this color is in branding guide */
    --main-brightblue: #1b42af;
    --main-teal: #2cb7ad;
    --main-orange: #F48B19; /*  #F36E21 was on projections */
    --main-orangehover: #f48b19;
    --main-white:  #ffffff;
    --main-lightgray: #cccccc;
    --main-menucolor: #222222;
    --main-fontfamily: 'Roboto Condensed', 'Open Sans Condensed', 'Open Sans', Helvetica, Arial, san-serif !important;
    --main-fontweight: 400;
    --main-paragraphcolor: #383838;
    --argyle: repeating-linear-gradient( 120deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 1px, transparent 1px, transparent 60px ), repeating-linear-gradient( 60deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 1px, transparent 1px, transparent 60px ), linear-gradient( 60deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1) ), linear-gradient( 120deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1) );
    --tartan: repeating-linear-gradient( transparent, transparent 50px, rgba(0, 0, 0, 0.4) 50px, rgba(0, 0, 0, 0.4) 53px, transparent 53px, transparent 63px, rgba(0, 0, 0, 0.4) 63px, rgba(0, 0, 0, 0.4) 66px, transparent 66px, transparent 116px, rgba(0, 0, 0, 0.5) 116px, rgba(0, 0, 0, 0.5) 166px, rgba(255, 255, 255, 0.2) 166px, rgba(255, 255, 255, 0.2) 169px, rgba(0, 0, 0, 0.5) 169px, rgba(0, 0, 0, 0.5) 179px, rgba(255, 255, 255, 0.2) 179px, rgba(255, 255, 255, 0.2) 182px, rgba(0, 0, 0, 0.5) 182px, rgba(0, 0, 0, 0.5) 232px, transparent 232px ), repeating-linear-gradient( 270deg, transparent, transparent 50px, rgba(0, 0, 0, 0.4) 50px, rgba(0, 0, 0, 0.4) 53px, transparent 53px, transparent 63px, rgba(0, 0, 0, 0.4) 63px, rgba(0, 0, 0, 0.4) 66px, transparent 66px, transparent 116px, rgba(0, 0, 0, 0.5) 116px, rgba(0, 0, 0, 0.5) 166px, rgba(255, 255, 255, 0.2) 166px, rgba(255, 255, 255, 0.2) 169px, rgba(0, 0, 0, 0.5) 169px, rgba(0, 0, 0, 0.5) 179px, rgba(255, 255, 255, 0.2) 179px, rgba(255, 255, 255, 0.2) 182px, rgba(0, 0, 0, 0.5) 182px, rgba(0, 0, 0, 0.5) 232px, transparent 232px ), repeating-linear-gradient( 125deg, transparent, transparent 2px, rgba(0, 0, 0, 0.2) 2px, rgba(0, 0, 0, 0.2) 3px, transparent 3px, transparent 5px, rgba(0, 0, 0, 0.2) 5px );
}


.bookshelf {
    width: 100%;
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 32px;
    align-items: flex-end;
}

.book {
    width: 50px;
    /*height: 280px;*/
    position: relative;
    margin-left: 1px;
    transform-style: preserve-3d;
    transform: translateZ(0) rotateY(0);
    transition: transform 1s;
}

.book:hover {
    z-index: 1;
/*    transform: rotateX(-25deg) rotateY(-40deg) rotateZ(-15deg) translateY(50px) translateX(-30px);*/
     transform: rotateX(-25deg) rotateY(-75deg) rotateZ(-15deg) translateY(50px) translateX(-30px);
}

.side {
    position: absolute;
    border: 2px solid var(--main-paragraphcolor);
    border-radius: 3px;
    font-weight: bold;
    color: var(--main-paragraphcolor);
    text-align: center;
    transform-origin: center left;
}

.spine {
    height: 279px;
    top: 1px;
    background-image: var(--argyle);
    background-color: var(--main-orange);
    position: relative;
    width: 50px;
    height: 280px;
    transform: rotateY(0deg) translateZ(0px);
}

.book:nth-child(3n) .spine{
    height: 299px;
    background-image: var(--tartan);    
    background-color: #4A6487;
}

.book:nth-child(6n) .spine{
    background-image: var(--argyle);
    background-color: maroon;    
}

.book:nth-child(5) .spine {
    background-color: #4A6487;
}


.book:nth-child(2) .spine {
    background-image: var(--tartan);
    background-color: maroon;
}

.book:nth-child(11) .spine,
.book:nth-child(4) .spine {
    background-image: var(--argyle);
    background-color: saddlebrown;
}

.book:nth-child(11) .spine,
.book:nth-child(5) .spine {
    height: 259px;
}

.book:nth-child(8) .spine {
    background-color: saddlebrown;
}


.top {
    width: 50px;
    height: 190px;
    top: -2px;
    top: 1px;
/*    background-image: linear-gradient(90deg, white 90%, gray 10%);*/
    background:gray;
    background-size: 5px 5px;
    transform: rotateX(90deg) translateZ(95px) translateY(-95px);
}



.cover {
    width: 190px;
    height: 280px;
    top: 0px;
    background-color: var(--main-white);
    background-size: contain;
    background-repeat: round;
    left: 50px;
    transform: rotateY(90deg) translateZ(0);
    transition: transform 1s;
    background-repeat: no-repeat;
    cursor: pointer;
}

.bookshelf .book .cover p {
    line-height: 1.2em;
    position:absolute; 
    bottom:4px;
    width:100%;
}

.book:nth-child(3n) .cover{
    height: 300px;
}


.book:nth-child(11) .cover,
.book:nth-child(5) .cover {
    height: 260px;
}

.spine-title {
    margin: 2px;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 13px;
    color: var(--main-white);
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.spine-author {
    position: absolute;
    color: var(--main-white);
    bottom: 0px;
    left: 20%;
}
